.bg-theme{
  background-color: #2827CC;
}

.cart-icon{
  font-size: 2rem;
}

.hero-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
}

.about-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
}

.btn-warning{
  padding: 8px 25px;
}